body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  height: 160px;
  transition: all 0.2s;
}

.container {
  display: flex;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 5px;
}

.triangle {
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid red;
  margin: 5px;
}